// COLORS
$color-primary-grey-dark: #495057;
$color-primary-grey-light: #6C757D;
$color-charleston-green: #212529;

$color-gainsboro: #DEE2E6;
$color-nav-text: $color-gainsboro;
$color-nav-background-color: $color-charleston-green;

$color-primary-black: #000000;
$color-primary-white: #dcdcdc;
$color-dnd-red: #8b0000;
$color-primary-red: red;
$color-shadow-black: #181818;
$color-smoke-grey: #777777;
$color-smoke-white: #F5F5F5;
$color-smoke-black: #383838;
$section-story-panel:#181818;


//FIESTY COLORS
$color-fiesty-black: #1A1A1D;
$color-fiesty-grey: #4E4E50;
$color-fiesty-maroon: #6F2232;
$color-fiesty-red: #950740;
$color-fiesty-hot-red: #C3073F;
$color-fiesty-white: #F5F5F5;



// SIZES
$nav-bar-top-height: 3rem;
$footer-top-height: 2rem;