//COLORS
$color-primary-black: #000000;
$color-primary-white: #dcdcdc;
$color-dnd-red: #8b0000;
$color-primary-red: red;
$color-shadow-black: #181818;
$color-smoke-grey: #777777;
$color-smoke-white: #F5F5F5;
$color-smoke-black: #383838;
$section-story-panel:#181818;


// FONT
$default-font-size: 1.6rem;

//GRID
$grid-width:89%; //70rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 6rem;